@font-face {
  font-family: Roboto-Regular;
  src: url(./fonts/Roboto/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1 {
  font-family: "Roboto-Regular";
  background-color: rgba(150, 210, 40, 0.3);
  color: red;
  font-style: oblique;
  text-transform: uppercase;
  text-align: center;
}

form {
  background-color: rgba(255, 0, 0, 0.6);
  color: white;
}

p {
  background-color: rgba(0, 0, 0, 0.5);
  color: aqua;
}

#nombre {
  background-color: black;
}
.titulazo{
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  letter-spacing: .2em;
  padding: 2rem;
}
.texto {
  font-size:28px;
  font-family:helvetica;
  font-weight:bold;
  color:#71d90b;
  text-transform:uppercase;
}
.parpadeante {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}